:root {
    color-scheme: light dark;
}

/* thanks to https://www.w3schools.com/csS/css3_flexbox.asp */
.flex-container {
    display: block flex;
    flex-direction: row;
}

.flex-twin-code {
    width: 50%;
    border: 1pt solid teal;
}

code.code-block {
    display: block;
    overflow-x: auto;
    padding: 0.5em;
    font-family: monospace;
}

.mobile-only {
    display: none;
}

a.button-style {
    text-decoration: none;
    color: unset;
}

@media (max-width: 600pt) {
    .mobile-only {
        display: unset;
    }

    .flex-container {
        flex-direction: column;
    }

    .flex-twin-code {
        width: 100%;
    }
}
